*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body{
    background-image:url("img/coffee_neon_text_193511_3840x2160.jpeg");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

}

.header{
    /*background-image:url("img/coffee_neon_text_193511_3840x2160.jpeg");*/
    /*min-height: 100vh;*/
    /*width: 100%;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*position: relative;*/
}


/*.card {*/
/*    !* Add shadows to the "card" *!*/
/*    position: center;*/
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
/*    transition: 0.3s;*/
/*    color: #847477;*/
/*}*/

/*!* On hover it adds a deeper shadow *!*/
/*.card:hover {*/
/*    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    padding: 2px 16px;*/
/*}*/
/*.li {*/
/*    font-weight: initial;*/
/*    list-style: square;*/
/*}*/


