#addButton {
    background-color: white;
    color: black;
}
#saveButton {
    width: 100%;
    background-color: white;
    color: #141696;
}
.dropdown-menu {
    width: 475px;
    padding: 10px;
}
.navbar {
    height: 85px;
}
