.movieInfo {
    text-align: center;
    align-content: center;
}
.card {
    background-color: black;
    margin-bottom: 10px;
}
.deleteButton {
    width: 25%;
    border: 2px solid #b20808;
    margin-bottom: 10px;
}
#addButton {
    background-color: white;
    color: black;
}
#saveButton {
    width: 100%;
    background-color: white;
    color: #141696;
}
.formContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.formContent>input {
    width: 85%;
}
.dropdown-menu {
    width: 475px;
    padding: 10px;
}
.navbar {
    height: 85px;
}
